/*body {
	background-color: #333;
	background: top center url('../img/bootstrap-bkg.jpg') repeat #414852;
}*/

body {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAACVBMVEXOzs7Gxsa4uLjQQWFnAAAAGUlEQVR42j3FMQEAAADCoM3+ofXyAUBH8ikAggANXa5OHwAAAABJRU5ErkJggg==');
}
a,
a:hover {
	color: #333;
}

.sharedd{
margin-top: 20px!important;
background:red!important;
display:inline
}

.navbar-inner {
	background-image: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar .nav-collapse > .nav > li > a,
.navbar .brand {
	color: #fff;
}

.navbar .nav > li > a:hover,
.navbar .brand:hover,
.navbar .dropdown-menu a:hover {
	background-color: #272A30 !important;
}

.caret {
	opacity: 1;
}

.main {
	padding: 60px 0;
}

.hero {
	padding: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.hero h1 {
	margin-bottom: 20px;
	font-size: 60px;
	line-height: 60px;

}

.hero h3 {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;

}

.social {
	text-align: center;
	margin-bottom: 30px;
}

.nav-tabs {
	margin-bottom: 0;
	border-bottom: none;
}

input[type="text"] {
	width: 100%;
	height: 30px;
	margin-left: -2px;
	font-size: 16px;
}

.nav-tabs li > a,
.nav-tabs li > a:hover {
	border-color: transparent;
	background-color: #ccc;
	box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.1);
	color: #404650;
}

.nav-tabs li.active > a,
.nav-tabs li.active > a:hover {
	background-color: #ddd;
	box-shadow: none;
	color: #404650;
}

.tab-content {
	padding: 30px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
	border-radius: 0 6px 6px 6px;
	background-color: #ddd;
}

.tab-content h4 {
	margin: 25px 0 15px;
}

.tab-content a {
	color: #888;
	text-decoration: underline;
}

.label-container {
	line-height: 14px;
}

.label {
	margin-left: -1px;
	background-color: rgba(0, 0, 0, 0.6);
	background-color: #212429;
	border-radius: 3px 3px 0 0;
}

.bar {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.bar .row-fluid > [class*="span"] {
	min-height: 12px;
}

.bar h3 {
	margin: 5px;
	text-align: center;
}

.sponsors {
	padding: 20px 0 40px;
	background-color: #ddd;
}

.sponsors h3 {
	text-align: center;
	color: #404650;
}

.endorse {
	padding: 1px 0 40px;
	background-color: #ddd;
}

.endorse h3 {
	text-align: center;
	color: #404650;
}

.logo {
	padding: 30px 0 20px;
	text-align: center;
	opacity: 0.8;
}

.footer {
	padding: 40px 0 20px;
	color: #999;

}

.footer ul {
	margin-left: 0;
	list-style-type: none;
}

.table-index td:first-child {

	min-width: 30px;
}

@media (max-width: 480px) {


	.hero {
		padding: 15px;
	}

	.hero h1 {
		font-size: 40px;
		line-height: 42px;
	}

	.nav-tabs li > a {
		padding: 7px;
		font-size: 11px;
	}

	.tab-content h4 {
		margin: 5px 0 15px;
	}
}


@media (max-width: 767px) {

	.sponsors {
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px 40px 40px;
	}

	.footer .pull-right {
		clear: both;
	}

	.footer .pull-right {
		margin-top: 20px;
		float: left;
	}
}

@media (max-width: 979px) {

	.main {
		padding: 0 0 60px;
	}
}

@media (min-width: 1200px) {

	.container,
	.navbar-fixed-top .container {
		width: 940px;
	}

	.row {
		margin-left: -20px;
	}
}

.logoArea{display:block;width:500px;min-height:69px;overflow:hidden;}
#NetDNA, #MaxCDN, #CloudCache{display:block;Width:134px;height:55px;margin:7px 0px;float:left;background-image:url('../img/logos.png');}
#NetDNA{background-position:0px 0px;margin-right:49px;}
#MaxCDN{background-position:-134px 0px;margin-right:49px;}
#CloudCache{background-position:-268px 0px;}
#NetDNA:hover{background-position:0px -55px;}
#MaxCDN:hover{background-position:-134px -55px;}
#CloudCache:hover{background-position:-268px -55px;}
.trusted-by { display:block; float:left; margin-right:62px;; }
#luckymag-logo,#grunt-logo,#stanford-logo,#applesencia-logo,#dramafever-logo{background-repeat: no-repeat;background-image: url('http://www.bootstrapcdn.com/img/trusted-by.png');}
#luckymag-logo{background-position:0px 0px;width:70px;height:23px;}
#grunt-logo{background-position:-73px 0px;width:87px;height:19px; margin-top: 1px;}
#stanford-logo{background-position:-163px 0px;width:140px;height:17px;}
#applesencia-logo{background-position:-306px 0px;width:143px;height:24px;}
#dramafever-logo{background-position:0px -27px;width:182px;height:39px;margin-top:-10px;}
.trusted-by:last-child { margin-right: 0; }
#trusted-logos { margin-bottom: 7px; }
#trusted-logos h3 { margin-bottom: 14px; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */


div.dataTables_length label {
	float: left;
	text-align: left;
	visibility: hidden;
}

div.dataTables_length select {
	width: 75px;
	visibility: hidden;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

/*table.table thead .sorting { background: url('../img/datatables/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/datatables/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/datatables/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../img/datatables/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/datatables/sort_desc_disabled.png') no-repeat center right; }*/

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
	background-color: white;
}

div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
	border-top: none;
}

div.DTFC_LeftFootWrapper table {
	border-top: none;
}
