
@font-face {
    font-family:'ProximaNovaSoft';
    
    src:url("../fonts/proxima_nova_soft_regular.eot");
    src:url("../fonts/proxima_nova_soft_regular.eot#iefix") format("embedded-opentype"),url("../fonts/proxima_nova_soft_regular.woff") format("woff"),url("../fonts/proxima_nova_soft_regular.ttf") format("truetype"),url("f../onts/proxima_nova_soft_regular.svg") format("svg");
    
    font-weight:normal;font-style:normal;
}

.hero{
    font-family:'ProximaNovaSoft';
    font-size: 50px;
    color: #201e1c;
    text-shadow:none
}

.sponsor a{display:block;background:url(../img/logo.png) no-repeat;width:130px;height:165px}.sponsor a:hover{background-position:0 -165px}

.banner img{
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
	margin-top:15px;
	margin-bottom:15px
	}
	
	.twitter-follow {
margin-top: 0;
position: relative;
display: inline-block
}

.twitter-follow iframe {
opacity: 0;
z-index: 1;
display: block;
position: relative
}

.twitter-follow .twitter-follow__button {
margin-top:7px;
color: #fff;
text-decoration: none;
width: 100%;
font-weight: 400;
display: block;
text-align: center;
line-height: 26px;
background: #00a0d1;
border: 1px solid #bce0eb;
border-radius: 5px;
font-family: Verdana, Arial;
font-size:16px;
position: absolute;
top: 0;
left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}



.twitter-follow .twitter-follow__button.active,
.twitter-follow iframe:hover + .twitter-follow__button {
display: inline-block;
background: #00a0d1;
color: #fff;
border-color: #007da3
}

.twitter-follow__button.active .s--twitter,
.twitter-follow iframe:hover + .twitter-follow__button .s--twitter {
background-position: 0 -12px
}

.vcard{
display:none;
visibility:hidden
}
.twitter-btn{
background: #00acee!important;
font-family:'twitter'
}
.luv{
color: #ff0078
}
.embed-code{
display:none;
visibility:hidden
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.the-player {
    width: 800px;
    height: 315px;
    border: 1px solid #333;
}
